<div>
	<h1>All quizzes</h1>
	<% if @quizzes.any? %>
		<ul>
			<% @quizzes.each do |quiz| %>
				<li>
					<%= link_to quiz.name, quiz_path(quiz)  %> - <%= link_to "Delete", quiz_path(quiz), method: :delete %>
				</li>
			<% end %>
		</ul>
	<% end %>
</div>
<%= link_to "Add a Quiz", new_quiz_path %>